html, body, img, p {
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: none;
}

body {
    /* width: 800px; */
    height: 600px;
    text-align: left;
    background-color: black;
}

#fon {
    /* margin: 0 auto; */
    width: 800px;
    height: 600px;
    background-image: url('fon.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
}

input {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
}

p {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.rowd {
    position: absolute;
    left: 0;
    width: 70%;
}

.hr1 {
    top: 154px;
}

.hr2 {
    top: 254px;
}

.hr3 {
    top: 354px;
}

.hr4 {
    top: 454px;
}

.hr5 {
    top: 554px;
}

.car {
    position: absolute;
    border-bottom: 2px solid white;
}

.car, #p0, #p1, #p2, #p3, #p4 {
    left: 680px;
}

.car0 {
    top: 100px;
}

.car1 {
    top: 200px;
}

.car2 {
    top: 300px;
}

.car3 {
    top: 400px;
}

.car4 {
    top: 500px;
}
